Studentmgt/StudentRegForm/StudentRegForm/Service References/StudentRef/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudentManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudentManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="age" type="xs:int" />
      <xs:element minOccurs="0" name="contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="education" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mobile" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
</xs:schema>